:root {
    --pet-smart--primary: #0067B2;
    --hero-banner-title-color: #fff;
    --dashboard-card-bg: #fff;
    --dashboard-card-icon-bg: #F7F6FD;
    --dashboard-card-text-color: #717171;
    --filter-button-text-color: #414141;

    // --bs-body-font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}
#root {
    background-color: #FAFAFA;
}
//max-container max-width: 1440px
//container max-width: 1264px
//mid-container: 1088px;




.hero-banner {
    height: 121px;
    background-image: url('../../assets/images/hero-banner-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .hero-banner__container {
        padding-top: 42px;
        display: flex;
        align-items: center;

        .hero-banner__container--title {
            display: flex;
            flex-direction: column;
            position: relative;

            .hero-banner__container-sub-title {
                font-family: var(--bs-roboto-font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                margin-bottom: 3px;
                color: var(--hero-banner-title-color);
                position: absolute;
                top: -24px;
            }

            .hero-banner__container-main-title {
                font-family: var(--bs-spartan-font-family);
                font-weight: 800;
                font-size: 21px;
                line-height: 29px;
                color: var(--hero-banner-title-color);
            }
        }

        .hero-banner__container--date {
            font-family: var(--bs-roboto-font-family);
            color: var(--hero-banner-title-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-left: auto;
        }
    }
}



.dashboard-at-glance {
    position: relative;
    margin-top: -26px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 257px);


    .dashboard-at-glance__card {
        border: 0;
        background-color: var(--dashboard-card-bg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 20px 17px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 18px;
        text-align: left;

        .dashboard-at-glance__card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            padding: 13px;
            background-color: var(--dashboard-card-icon-bg);

        }

        .dashboard-at-glance__card-stats {
            .dashboard-at-glance__card-count {
                color: var(--pet-smart--primary);
                letter-spacing: 0.15px;
                font-family: var(--bs-body-font-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
            }

            .dashboard-at-glance__card-title {
                font-family: var(--bs-lato-font-family);
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: var(--dashboard-card-text-color);
            }
        }
    }
}

.filter-section {
    margin-top: 56px;

    .filter-section__header {
        display: flex;
        align-items: center;
    }

    .filter-section__button {
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;

        .filter-section__icon {
            margin-right: 24px;
        }

        .filter-section-title {
            font-family: var(--bs-lato-font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: var(--filter-button-text-color);
        }

        .filter-section-dp-icon {
            margin-left: 34px;
        }
    }
}

.shipping-list {
    --table-cell-bg: #fff;
    --table-header-text: #414141;
    --table-body-text: #414141;
    margin-top: 27px;

    .filter-table {
        table-layout: fixed;

        th {
            width: 233px;
            position: sticky;
            top: 0;
            z-index: 1;
            background: var(--table-cell-bg);

            font-family: var(--bs-lato-font-family);
            font-weight: 700 !important;
            font-size: 12px !important;
            padding: 12px 20px !important;
            line-height: 21px;
            letter-spacing: 0.14px;

            color: var(--table-header-text);

            &.status-cell {
                width: 200px;
            }

            .filter-table__header {
                display: flex;
                align-items: flex-start;
                padding: 0;
                .filter-table__title {
                    text-align: left;
                }

                &.filter-table__header--button {
                    background-color: transparent;
                    border: 0;
                }

                .filter-table__sort-icon {
                    margin-left: 17px;
                    transition: 0.3s all;

                    &.none {
                        opacity: 0;
                    }

                    &.ascending {
                        transform: rotate(180deg);
                    }

                    &.desending {
                        transform: rotate(0deg);
                    }
                }

            }
        }

        td {

            font-family: var(--bs-lato-font-family);
            font-size: 16px !important;
            padding: 12px 20px !important;
            line-height: 21px;
            letter-spacing: 0.14px;
            font-weight: 400!important;
            line-height: 21px;
            color: var(--table-body-text);
        }
    }
}


.footer1 {
    background-color: #4F6D83 !important;
    text-align: center  !important;
  
    width: 100%;
    font-size: larger;
    font-weight: 500;
    bottom: 0;
    margin-top: 2%;
    max-height: 61px ;
    flex-shrink: 0;
    font-family: Lato;
  }
